<accountdashboard-app></accountdashboard-app>
<div class="panel panel-primary">
    <div class="panel panel-heading">
        Ledger's
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <div style="padding-bottom:10px">
                <div class="row">
                    <div class="col-md-2">
                        <div (click)="addAccounts()" style="cursor: pointer">
                            <span>
                                <img src="../../images/Add.png" height="60" width="60" />
                            </span>
                            Add Ledger's
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row" style="padding-top: 17px;">
                            <div class="col-md-2 pull-right">
                                <button *ngIf='accounts && accounts.length' class="btn btn-primary pull-left" (click)="exportTableToExcel('ledgersTable')"> Export</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row" style="padding-top: 17px;">
                            <div class="col-md-2 pull-right">
                                <button *ngIf='accounts && accounts.length' class="btn btn-primary pull-left" (click)="download()"> Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading">
                <img src="../../images/loading.gif" width="32" height="32" /> 
                Loading...
            </div>
            <div *ngIf='accounts && accounts.length==0' class="alert alert-info" role="alert">No record found!</div>

            <table id="ledgersTable" class='table table-striped' *ngIf='accounts && accounts.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>{{account.Name}}</td>
                        <td class="export-no-display">
                            <span>
                                <img src="../../images/Edit.png" (click)="editAccounts(account.Id)" height="32" width="32" />
                            </span>
                            <span>
                                <img src="../../images/Delete.png" (click)="deleteAccounts(account.Id)" height="32" width="32" />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>

</div>

<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(accountLedgerFrm)" [formGroup]="accountLedgerFrm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="panel-body">
                <div class="panel panel-defaut">
                    <div class="tab-v1">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#Ledger" data-toggle="tab">Ledger</a>
                            </li>
                            <li>
                                <a href="#Taxation" data-toggle="tab">Taxation</a>
                            </li>
                            <li>
                                <a href="#Settings" data-toggle="tab">Settings</a>
                            </li>
                            <li>
                                <a href="#Address" data-toggle="tab">Address</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <br />
                            <div class="tab-pane fade in active" id="Ledger">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 pull-left">Name</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" placeholder="Name" formControlName="Name">
                                                <div class="alert alert-danger" *ngIf="accountLedgerFrm.get('Name').hasError('required') && formSubmitAttempt">
                                                    Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label col-md-4 pull-left">Account Type</label>
                                        <div class="form-group col-md-8">
                                            <ngx-select-dropdown (searchChange)="searchChange($event)" formControlName="AccountTypeId" [config]="config" [options]="acctype"></ngx-select-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 pull-left">Amount</label>
                                            <div class="col-md-8">
                                                <input type="number" name="Amount" ng-model="settingFrm.Amount" class="form-control" formControlName="Amount" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" formControlName="entityLists">
                                            <option *ngFor="let entityList of entityLists" [ngValue]="entityList.name">{{ entityList.name }}</option>
                                        </select>
                                        <div *ngIf="accountLedgerFrm.get('entityLists').hasError('required') && formSubmitAttempt" class="alert alert-danger">
                                            Select Dr/Cr
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-8">Inventory values are Affected By ?</label>
                                            <div class="col-md-2 pull-right">
                                                <input type="checkbox" name="InventoryValue" ng-model="masterLedgerFrm.InventoryValue" class="form-control" formControlName="InventoryValue"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-8">
                                                Maintain balances bill by bill
                                            </label>
                                            <div class="col-md-2 pull-right">
                                                <input type="checkbox" name="MaintainBilByBill" ng-model="masterLedgerFrm.MaintainBilByBill" class="form-control" formControlName="MaintainBilByBill"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Taxation">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Tax Classification Name</label>
                                            <div class="col-md-7">
                                                <select class="form-control" placeholder="TaxClassificationName" formControlName="TaxClassificationName">
                                                    <option value="0"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Tax Type</label>
                                            <div class="col-md-7" style="margin-bottom: 10px;">
                                                <select class="form-control" placeholder="TaxType" formControlName="TaxType">
                                                    <option value="0"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Tax Rate</label>
                                            <div class="col-md-7" style="margin-bottom: 10px;">
                                                <select class="form-control" placeholder="TaxRate" formControlName="TaxRate">
                                                    <option value="0"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Nature of Purchase</label>
                                            <div class="col-md-7">
                                                <select class="form-control" placeholder="NatureOfPurchase" formControlName="TraderLedNatureOfPurchase">
                                                    <option value="0"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">TDS Deductee Type</label>
                                            <div class="col-md-7">
                                                <select class="form-control" placeholder="TDSDeducteeType" formControlName="TDSDeducteeType">
                                                    <option value="0"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">TDS Rate Name</label>
                                            <div class="col-md-7" style="margin-top: 10px;">
                                                <select class="form-control" placeholder="TDSRateName" formControlName="TDSRateName">
                                                    <option value="0"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Address">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"> Address</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="Address" formControlName="Address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Street</label>
                                            <div class="col-md-9" style="margin-bottom: 10px;">
                                                <input type="text" class="form-control" placeholder="Street" formControlName="Street" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">City</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="City" formControlName="City" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">District</label>
                                            <div class="col-md-9" style="margin-bottom: 10px;">
                                                <input type="text" class="form-control" placeholder="District" formControlName="District">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Pan / Vat No.</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="PanNo" formControlName="PanNo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Telephone</label>
                                            <div class="col-md-9" style="margin-bottom: 10px;">
                                                <input type="text" class="form-control" placeholder="Telephone" formControlName="Telephone" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Email</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="Email" formControlName="Email" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Settings">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Bill Wise On
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsBillWiseOn" ng-model="settingFrm.IsBillWiseOn" class="form-control" formControlName="IsBillWiseOn"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Cost Centres On
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="ISCostCentresOn" ng-model="settingFrm.ISCostCentresOn" class="form-control" formControlName="ISCostCentresOn"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Interest On
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsInterestOn" ng-model="settingFrm.IsInterestOn" class="form-control" formControlName="IsInterestOn"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Allow InMobile
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="AllowInMobile" ng-model="settingFrm.AllowInMobile" class="form-control" formControlName="AllowInMobile"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Condensed
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsCondensed" ng-model="settingFrm.IsCondensed" class="form-control" formControlName="IsCondensed"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Affects Stock
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="AffectsStock" ng-model="settingFrm.AffectsStock" class="form-control" formControlName="AffectsStock"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                For PayRoll
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="ForPayRoll" ng-model="settingFrm.ForPayRoll" class="form-control" formControlName="ForPayRoll"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Interest On Bill Wise
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="InterestOnBillWise" ng-model="settingFrm.InterestOnBillWise" class="form-control" formControlName="InterestOnBillWise"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                OverRide Interest
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="OverRideInterest" ng-model="settingFrm.OverRideInterest" class="form-control" formControlName="OverRideInterest"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                OverRide ADV Interest
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="OverRideADVInterest" ng-model="settingFrm.OverRideADVInterest" class="form-control" formControlName="OverRideADVInterest"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Use For VAT
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="UseForVat" ng-model="settingFrm.UseForVat" class="form-control" formControlName="UseForVat"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Ignore TDS Exempt
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IgnoreTDSExempt" ng-model="settingFrm.IgnoreTDSExempt" class="form-control" formControlName="IgnoreTDSExempt"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Is TCS Applicable
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsTCSApplicable" ng-model="settingFrm.IsTCSApplicable" class="form-control" formControlName="IsTCSApplicable"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Is TDS Applicable
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsTDSApplicable" ng-model="settingFrm.IsTDSApplicable" class="form-control" formControlName="IsTDSApplicable"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Is FBT Applicable
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsFBTApplicable" ng-model="settingFrm.IsFBTApplicable" class="form-control" formControlName="IsFBTApplicable"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Is GST Applicable
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsGSTApplicable" ng-model="settingFrm.IsGSTApplicable" class="form-control" formControlName="IsGSTApplicable"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Show In PaySlip
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="ShowInPaySlip" ng-model="settingFrm.ShowInPaySlip" class="form-control" formControlName="ShowInPaySlip"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Use For Gratuity

                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="UseForGratuity" ng-model="settingFrm.UseForGratuity" class="form-control" formControlName="UseForGratuity"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                For ServiceTax
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="ForServiceTax" ng-model="settingFrm.ForServiceTax" class="form-control" formControlName="ForServiceTax"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Is InputCredit
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsInputCredit" ng-model="settingFrm.IsInputCredit" class="form-control" formControlName="IsInputCredit"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Is Exempte

                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsExempte" ng-model="settingFrm.IsExempte" class="form-control" formControlName="IsExempte"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Is Abatement Applicable
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="IsAbatementApplicable" ng-model="settingFrm.IsAbatementApplicable" class="form-control" formControlName="IsAbatementApplicable"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                TDS Deductee Is SpecialRate
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="TDSDeducteeIsSpecialRate" ng-model="settingFrm.TDSDeducteeIsSpecialRate" class="form-control"
                                                    formControlName="TDSDeducteeIsSpecialRate" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-10">
                                                Audited
                                            </label>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="Audited" ng-model="settingFrm.Audited" class="form-control" formControlName="Audited" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-danger pull-right" [disabled]="buttonDisabled" (click)="reset(); modalRef.hide();">Cancel</button>
                        <button type="submit" [disabled]="accountLedgerFrm.invalid" class="btn btn-success pull-left">{{modalBtnTitle}} </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #templateNested>
    <div class="modal-body text-center">
        <p>Data saved sucessfully!</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
    </div>
</ng-template>
