<InventoryDashboard-app></InventoryDashboard-app>
<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(pConsumeFrm)" [formGroup]="pConsumeFrm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div>
                    <label style="margin-top: 5px;" class="col-md-1">Name</label>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="Name" formControlName="Name" readonly="">
                        <div class="control-label alert alert-danger" *ngIf="pConsumeFrm.get('Name').hasError('required') ">
                            Name is required
                        </div>
                    </div>
                </div>
                <div>
                    <label style="margin-top: 5px;" class="col-md-1">StartDate</label>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="dd/MM/yyyy" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" formControlName="StartDate" />
                        <div class="text-danger" *ngIf="(pConsumeFrm.get('StartDate').hasError('InvalidDate') || pConsumeFrm.get('StartDate').hasError('required')) && formSubmitAttempt">
                            {{ pConsumeFrm.get('StartDate').getError('InvalidDate') }}
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    <input type="date" class="form-control" formControlName="LastUpdateTime">
                </div>
            </div>
            <br /> <br />

            <div class="row">
                <div class="container col-md-12">
                    <div formArrayName="PeriodicConsumptionItems" class="panel panel-default container-padding">
                        <div class="panel-body" *ngFor="let PeriodicConsumptionItems of pConsumeFrm.controls.PeriodicConsumptionItems.controls; let i=index" [formGroupName]="i">
                            <div class="row">
                                <div class="col-md-11">
                                    <stock-damage-details [group]="pConsumeFrm.controls.PeriodicConsumptionItems.controls[i]"></stock-damage-details>
                                </div>
                                <div class="col-md-1">
                                    <span *ngIf="pConsumeFrm.controls.PeriodicConsumptionItems.controls.length > 1" style="cursor: pointer; font-size: 30px; margin-top: 25px;" class="fa fa-window-close pull-right" (click)="removeInventory(i)"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button style="margin-right: 20px; margin-bottom: 15px;" type="button" class="btn btn-success pull-right" [disabled]="pConsumeFrm.controls.PeriodicConsumptionItems.invalid" (click)="addPeriodicitems()">Add Items +</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-success pull-left" [disabled]="pConsumeFrm.invalid">{{modalBtnTitle}} </button>
                <a class="btn btn-danger pull-right" aria-label="Close" (click)="modalRef.hide()">Cancel</a>
            </div>
        </div>
    </form>
</ng-template>

<div class='panel panel-primary'>
    <div class="panel-heading">
        Stock Damage
    </div>
    <div class='panel-body'>
        <div class='table-responsive-xl' style="min-height: 400px;">
            <div style="padding-bottom:10px; cursor: pointer;">
                <div class="row">
                    <div class="col-md-3">
                        <div (click)="addPeriodicConsumed()" style="cursor: pointer">
                            <span>
                                <img src="../../images/Add.png" height="60" width="60" />
                                Add Stock Damage
                            </span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row" style="padding-top: 17px;">
                            <div class="col-md-2">
                                Filter By Date:
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker [(ngModel)]="fromDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker [(ngModel)]="toDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-success" (click)="filterJournalByDate()"> GO</button>
                            </div>
                            <div class="col-md-2">
                                <button *ngIf='pConsumes && pConsumes.length' class="btn btn-primary pull-left" (click)="exportTableToExcel('periodicConsumptionTable')"> Export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='pConsumes && pConsumes.length==0' class="alert alert-info" role="alert">No record found!</div>

            <table id="periodicConsumptionTable" class='table table-striped' *ngIf='pConsumes && pConsumes.length'>
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>StartDate</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let pConsume of pConsumes">
                    <tr>
                        <td>{{pConsume.Name}}</td>
                        <td>{{pConsume.StartDate | date:'dd/MM/yyyy' }}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="export-no-display">
                            <span><img src="../../images/Edit.png" (click)="editPeriodicConsumed(pConsume.Id)" height="60" width="60" /></span>
                            <span><img src="../../images/Delete.png" (click)="deletePeriodicConsumed(pConsume.Id)" height="60" width="60" /></span>
                        </td>
                    </tr>
                    <tr style="color: blue;">
                        <th>Item Name:</th>
                        <th>InStock</th>
                        <th>Consumption</th>
                        <th>Physical Inventory</th>
                        <th>Cost</th>
                    </tr>
                    <tr *ngFor="let transaction of pConsume.PeriodicConsumptionItems">
                        <td> {{getIRItem(transaction.InventoryItemId)?.Name}}</td>
                        <td> {{transaction.InStock}}</td>
                        <td> {{transaction.Consumption}}</td>
                        <td>{{transaction.PhysicalInventory}}</td>
                        <td> {{transaction.Cost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="msg" role="alert" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<ng-template #templateNested>
    <div class="modal-body text-center">
        <p>Data saved sucessfully!</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
    </div>
</ng-template>


