<div [formGroup]="pcDetails">
    <div class="row">
        <div class="col-md-4">
            <label>Inventory Item</label>
            <select class="form-control" formControlName="InventoryItemId" (change)="postToApi(pcDetails.controls)">
                <option class="form-control" *ngFor="let MIPortions of MenuItemPortions" value={{MIPortions.Id}}>{{MIPortions.Name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="pcDetails.get('InventoryItemId').hasError('required') && formSubmitAttempt">
                Item Name is required
            </div>
        </div>
        <div class="col-md-4">
            <label>InStock</label>
            <input type="number" class="form-control" placeholder="InStock" formControlName="InStock" readonly="" />
        </div>
        <div class="col-md-4">
            <label>Consumption</label>
            <input type="number" class="form-control" placeholder="Consume" formControlName="Consumption" (blur)="calculateNetConsumption(pcDetails.controls, InStockValue, invnCost)" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <label>Physical Inventory</label>
            <input type="number" class="form-control" placeholder="Physical Inventory" formControlName="PhysicalInventory" />
        </div>
        <div class="col-md-4">
            <label>Cost</label>
            <input type="number" class="form-control" placeholder="Cost" formControlName="Cost" />
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>





