<manage-app-navigation></manage-app-navigation>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        Financial Year
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
                <img  *ngIf="FinancialYears && FinancialYears.length == 0" 
                     src="../../images/Add.png" (click)="openModal(template)" height="60" width="60" />
                <div class="alert alert-info" role="alert" *ngIf="indLoading">
                    <img src="../../images/loading.gif" width="32" height="32" /> Loading...
                </div>
                <div *ngIf='FinancialYears && FinancialYears.length==0' class="alert alert-info" role="alert">No record found!</div>
                <table class='table table-striped' *ngIf='FinancialYears && FinancialYears.length'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Nepali Start Date</th>
                            <th>Nepali End Date</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fy of FinancialYears">
                            <td>{{ fy.Name }}</td>
                            <td>{{ fy.NepaliStartDate }}</td>
                            <td>{{ fy.NepaliEndDate }}</td>
                            <td>{{ fy.StartDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ fy.EndDate | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                <span>
                                    <img src="../../images/Edit.png" (click)="editFinancialYear(fy.Id,template)" height="32" width="32" />
                                </span>
                                <span>
                                    <img src="../../images/Delete.png" (click)="deleteFinancialYear(fy.Id,template)" height="32" width="32" />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="msg" role="alert" class="alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(FYearFrm)" [formGroup]="FYearFrm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-4">Start Date:</label>
                    <div class="col-sm-6" style="padding-bottom: 10px;">
                        <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker formControlName="StartDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                        <div class="text-danger" *ngIf="FYearFrm.get('StartDate').hasError('required') && formSubmitAttempt">
                            Start Date is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">End Date:</label>
                    <div class="col-sm-6" style="padding-bottom: 10px;">
                        <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker formControlName="EndDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                        <div class="text-danger" *ngIf="FYearFrm.get('EndDate').hasError('required') && formSubmitAttempt">
                            End Date is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Name:</label>
                    <div class="col-sm-8" style="padding-bottom: 10px;">
                        <input type="text" class="form-control" placeholder="" formControlName="Name">
                        <div class="text-danger" *ngIf="(FYearFrm.get('Name').hasError('InvalidYear') || FYearFrm.get('Name').hasError('required')) && formSubmitAttempt">
                            Financial year must be in YYYY.YYY format.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Nepali Start Date:</label>
                    <div class="col-sm-8" style="padding-bottom: 10px;">
                        <input type="text" class="form-control" placeholder="" formControlName="NepaliStartDate">
                        <div class="text-danger" *ngIf="(FYearFrm.get('NepaliStartDate').hasError('InvaliDate') || FYearFrm.get('NepaliStartDate').hasError('required')) && formSubmitAttempt">
                            Add Nepali Start Date in YYYY.MM.DD format.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Nepali End Date:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="" formControlName="NepaliEndDate">
                        <div class="text-danger" *ngIf="(FYearFrm.get('NepaliEndDate').hasError('InvaliDate')  || FYearFrm.get('NepaliEndDate').hasError('required')) && formSubmitAttempt">
                            Add Nepali End Date in YYYY.MM.DD format.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-success pull-left">{{modalBtnTitle}}</button>
                <button type="button" class="btn btn-danger pull-right" (click)="modalRef.hide()">Cancel</button>
            </div>
        </div>
    </form>
</ng-template>