label {
    margin-top: 7px;
}

input, select, textarea {
    max-width: 100%;
    width: 100%;
}

.custom-padding {
    padding: 3px !important;
}

.container-padding {
    padding: 0 15px !important;
}

.panel-body {
    padding: 2px 15px;
}

.textarea-container {
    width: 58.003333%;
    padding-right: 5px;
}

.debit-total,
.credit-total {
    width: 15.6666667%;
}

.text-danger {
    font-size: smaller;
    margin-top: 3px;
}
