<accountdashboard-app></accountdashboard-app>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        Transaction Type
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
                <div class="row">
                    <div class="col-md-3">
                        <div (click)="addAcctransType()" style="cursor: pointer">
                            <span>
                                <img src="../../images/Add.png" height="60" width="60" />
                            </span>
                            Add Transaction Type
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row" style="padding-top: 17px;">
                            <div class="col-md-2 pull-right">
                                <button *ngIf='accounttransTypes && accounttransTypes.length' class="btn btn-primary pull-left" (click)="exportTableToExcel('TransactionTypeTable')"> Export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='accounttransTypes && accounttransTypes.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table id="TransactionTypeTable" class='table table-striped' *ngIf='accounttransTypes && accounttransTypes.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let accounttransType of accounttransTypes">
                        <td>{{accounttransType.Name}}</td>
                        <td class="export-no-display">
                            <span><img src="../../images/Edit.png" (click)="editAcctransType(accounttransType.Id)" height="32" width="32" /></span>
                            <span><img src="../../images/Delete.png" (click)="deleteAcctransType(accounttransType.Id)" height="32" width="32" /></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(acctransTypeFrm)" [formGroup]="acctransTypeFrm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2">Name</label>
                    <div class="col-sm-10" style="margin-bottom: 15px;">
                        <input type="text" class="form-control" placeholder="" formControlName="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Source Account Type Id</label>
                    <div class="col-sm-3" style="margin-bottom: 10px;">
                        <select class="form-control" placeholder="SourceAccountTypeId" formControlName="SourceAccountTypeId">
                            <option class="form-control" *ngFor="let acctypes of acctype" [ngValue]="acctypes.Id">{{acctypes.Name}}</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="acctransTypeFrm.get('SourceAccountTypeId').hasError('required') && formSubmitAttempt">
                            Source Account Type Id is required
                        </div>
                    </div>
                    <label class="control-label col-sm-3">Target Account Type Id</label>
                    <div class="col-sm-3" style="margin-bottom: 15px;">
                        <select class="form-control" placeholder="TargetAccountTypeId" formControlName="TargetAccountTypeId">
                            <option class="form-control" *ngFor="let acctypes of acctype" [ngValue]="acctypes.Id">{{acctypes.Name}}</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="acctransTypeFrm.get('TargetAccountTypeId').hasError('required') && formSubmitAttempt">
                            Target Account Type Id is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Default Source Account Id</label>
                    <div class="col-sm-3">
                        <select class="form-control" placeholder="DefaultSourceAccountId" formControlName="DefaultSourceAccountId">
                            <option class="form-control" *ngFor="let acctypes of acctype" [ngValue]="acctypes.Id">{{acctypes.Name}}</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-3">Default Target Account Id</label>
                    <div class="col-sm-3">
                        <select class="form-control" placeholder="DefaultTargetAccountId" formControlName="DefaultTargetAccountId">
                            <option></option>
                            <option class="form-control" *ngFor="let acctypes of acctype" [ngValue]="acctypes.Id">{{acctypes.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-danger pull-right" [disabled]="buttonDisabled" (click)="reset(); modalRef.hide();">Cancel</button>
                <button type="submit" [disabled]="acctransTypeFrm.invalid" class="btn btn-success pull-left">{{modalBtnTitle}} </button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #templateNested>
    <div class="modal-body text-center">
        <p>Data saved sucessfully!</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
    </div>
</ng-template>
