<dashboard-nav-app></dashboard-nav-app>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="/accountdashboard">
                <div class="dashboard-item col-md-4">
                    <span><img src="../../images/Finance.jpg" /></span>
                    <h3>Accounts/Finance</h3>
                </div>
            </a>
            <a routerLink="/InventoryDashboard">
                <div class="dashboard-item col-md-4">
                    <span><img src="../../images/Inventory.jpg" /></span>
                    <h3>Inventory</h3>
                </div>
            </a>
            <a routerLink="/reportdashboard">
                <div class="dashboard-item col-md-4">
                    <span><img src="../../images/FrontDesk.jpg" /></span>
                    <h3>Report</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a routerLink="/managedashboard">
                <div class="dashboard-item col-md-4">
                    <span><img src="../../images/Manage.png" /></span>
                    <h3>Manage</h3>
                </div>
            </a>
        </div>
    </div>
</div>
