<manage-app-navigation></manage-app-navigation>
<div class="container">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            Manage Roles
        </div>
        <div class='panel-body'>
            <div class='table-responsive'>
                <div style="padding-bottom:10px">
                    <img src="../../images/UserAdd.png" (click)="addRoles()" height="60" width="60" style="cursor: pointer;" />
                </div>
                <div class="alert alert-info" role="alert" *ngIf="indLoading">
                    <img src="../../images/loading.gif" width="32" height="32" /> Loading...
                </div>
                <div *ngIf='roles && roles.length==0' class="alert alert-info" role="alert">No record found!</div>
                <table class='table table-striped' *ngIf='roles && roles.length'>
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of roles">
                            <td>{{role.RoleName}}</td>
                            <td>{{role.Description}}</td>
                            <td>
                                <span>
                                    <img src="../../images/EditUser.png" (click)="editUserRole(role.RoleId)" height="32" width="32" style="cursor: pointer;" />
                                </span>
                                <span>
                                    <img src="../../images/DeleteUser.png" (click)="deleteUserRole(role.RoleId)" height="32" width="32" style="cursor: pointer;" />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(RoleFrm)" [formGroup]="RoleFrm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4">Role Name:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Role Name" formControlName="RoleName">
                        <div class="alert alert-danger" *ngIf="RoleFrm.get('RoleName').hasError('required') && formSubmitAttempt">
                            Role name is required
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4">Description:</label>
                    <div class="col-md-8">
                        <textarea class="form-control" name="Description" formControlName="Description" rows="4" placeholder="Add description here..."></textarea>
                        <div class="alert alert-danger" *ngIf="RoleFrm.get('Description').hasError('required') && formSubmitAttempt">
                            Description is required.
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Permission: </label>
                </div>
                <div class="col-md-8">
                    <div class="form-group col-md-2">
                        <label class="control-label">Add</label>
                        <input style="margin-left: 25px; margin-top: -30px" type="checkbox" name="Selected" ng-model="RoleFrm.Selected" class="form-control" formControlName="Selected" />
                    </div>

                    <div class="form-group col-md-2">
                        <label class="control-label">Edit</label>
                        <input style="margin-left: 25px; margin-top: -30px" type="checkbox" name="Selected" ng-model="RoleFrm.Selected" class="form-control" formControlName="Selected" />
                    </div>

                    <div class="form-group col-md-2">
                        <label class="control-label">Delete</label>
                        <input style="margin-left: 35px; margin-top: -30px" type="checkbox" name="Selected" ng-model="RoleFrm.Selected" class="form-control" formControlName="Selected" />
                    </div>

                    <div class="form-group col-md-2">
                        <label class="control-label">View</label>
                        <input style="margin-left: 25px; margin-top: -30px" type="checkbox" name="Selected" ng-model="RoleFrm.Selected" class="form-control" formControlName="Selected" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-danger pull-right" [disabled]="buttonDisabled" (click)="reset();modalRef.hide();">Cancel</button>
                <button type="submit" class="btn btn-success pull-left">{{modalBtnTitle}} </button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #templateNested>
    <div class="modal-body text-center">
        <p>Data saved sucessfully!</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
    </div>
</ng-template>