.login-form {
    background: #ffffff;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px cornflowerblue;
}

.login-form img {
    height: 90px;
    width: 90px;
    border: 2px solid cornflowerblue;
}

.login-form .marker {
    width: 50px;
    height: 4px;
    background: #dddddd;
    border-radius: 3px;
    margin: auto;
    margin-top: -5px;
}

.login-form .title {
    padding: 15px;
}
