<div style="margin-bottom: 10px;" [formGroup]="purchaseDetails">
    <div class="col-md-4">
        <ngx-select-dropdown (searchChange)="searchChange($event)" formControlName="InventoryItemId" [config]="config" [options]="MenuItemPortions"></ngx-select-dropdown>
    </div>
    <div class="col-md-2">
        <input type="number" class="form-control" formControlName="Quantity" (blur)="calculateAmount(purchaseDetails.controls)" />
    </div>
    <div class="col-md-2">
        <input type="number" class="form-control" formControlName="PurchaseRate" (blur)="calculateAmount(purchaseDetails.controls)" />
    </div>
    <div class="col-md-3">
        <input type="number" class="form-control" formControlName="PurchaseAmount" readonly="true" />
    </div>
</div>
