<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/dashboard']">
                <img src="../../images/logo.png" class="pull-left" alt="D Cube Hotel">
                <div style="padding-top: 1px;width: 200px; text-align: center;">
                    <h5 style="color: #ffffff; font-weight: 600;">
                        D Cube Billing System (V1)
                    </h5>
                </div>
            </a>
        </div>
        <div id="navbar1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Master
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/accountdashboard/account']"> Ledger </a>
                        </li>
                        <li>
                            <a [routerLink]="['/accountdashboard/accountType']"> Group </a>
                        </li>
                        <li>
                            <a [routerLink]="['/accountdashboard/accounttransType']"> Transaction Type </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Voucher
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/accountdashboard/journalVoucher']">Journal</a>
                        </li>
                        <li>
                            <a [routerLink]="['/accountdashboard/purchase']">Purchase</a>
                        </li>
                        <li>
                            <a [routerLink]="['/accountdashboard/sales-billing']">Sales Billing AB</a>
                        </li>
                        <!--<li>
                            <a [routerLink]="['/accountdashboard/sales-billingvat']">Sales Billing VAT</a>
                        </li>-->
                        <li>
                            <a [routerLink]="['/accountdashboard/receipt']"> Receipt </a>
                        </li>
                        <li>
                            <a [routerLink]="['/accountdashboard/payment']"> Payment </a>
                        </li>
                        <li>
                            <a [routerLink]="['/accountdashboard/contra']"> Bank/Cash </a>
                        </li>
                        <li>
                            <a [routerLink]="['/accountdashboard/credit-note']"> Credit Note </a>
                        </li>
                        <li>
                            <a [routerLink]="['/accountdashboard/debit-note']"> Debit Note </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img style="height: 18px;" src="../../images/logo.png" alt="DCube Hotel">&nbsp;Welcome! {{ user.UserName }}
                        <span class="caret"></span>
                        S
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
<div class="header-wrapper" [hidden]="!hideElement">
    <div class="header">
        <div class="filter"></div>
        <div class="title-container text-center">
            <h1>Account / Finance Dashboard </h1>
        </div>
    </div>
    <hr />
    <div class="col-md-4">
        <div class="title-container">
            <strong>Total Sale</strong>
        </div>
    </div>
    <div class="col-md-4">
        <div class="title-container">
            <strong>Total Expense</strong>
        </div>
    </div>
</div>


