/* 
*   Developer: Buddha  Man Nepali <bmnepali980@gmail.com>
*   Owner: DCube IT solutions Pvt. Ltd.
*/

/* Core UI overrides */
body {
    background: #f9f8f8;
}

/* Overrides to mcustomScrollbar plugin styles */
.mCSB_container {
    width: 100% !important;
    height: auto !important;
}

.mCSB_scrollTools {
    width: 8px !important;
}

/* Overriding datepicket padding */
.bs-datepicker-container {
    padding: 0 !important;
}

.wc-date-container {
    border-radius: 3px;
    padding: 6px 8px !important;
    height: auto !important;
}

/* This make the field clickable */
.blocked {
    position:relative;
    cursor: not-allowed;
}