<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/login']">
                <img src="../../images/logo.png" class="pull-left" alt="D Cube Hotel">
                <div style="padding-top: 1px;width: 200px; text-align: center;">
                    <h5 style="color: #ffffff; font-weight: 600;">
                        D Cube Billing System (V1)
                    </h5>
                </div>
            </a>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
<div class="container" style="min-height: 500px;">
    <router-outlet></router-outlet>
    <!-- Routed views go here -->
    <br />
    <br />
    <br />
</div>
<div class="footer navbar navbar-default navbar-bottom" style="padding: 5px; color: #FFFFFF; margin-bottom: 0;">
    <div class="row">
        <div class="container">
            <div class="col-md-3 text-right" style="padding-top: 20px;">
                <h4>{{ company?.NameEnglish }}</h4>
            </div>
            <div class="col-md-5">
                <div class="text-center">
                    <strong>&copy; 2017-{{ getUTCFullYear() }} D. Cube I.T. Solution Pvt. Ltd.</strong>
                </div>
                <div class="text-center">
                    <div style=" width: 400px; margin: 5px auto;">
                        <span>
                            <img src="../../images/Phone.png" alt="D Cube Hotel System Phone" height="32" width="32" style="margin:0 auto; display:inline">
                        </span>
                        <span>061-530012</span>
                        &nbsp;&nbsp;&nbsp;
                        <span>
                            <img src="../../images/mobile-2-icon.png" alt="D Cube Hotel System Phone" height="32" width="32">
                        </span>
                        <span> +977-9860485920; 9803125736</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-left" style="padding-top: 10px;">
                <div class="col-md-5">
                    <label for="" style="padding-top: 5px;">Financial Year:</label>
                </div>
                <div class="col-md-7">
                    <select name="" id="" class="form-control" #selectedItem (change)="changeFinalcialYear(selectedItem.value)">
                        <option class="form-control" *ngFor="let fy of financialYears; let i = index" value="{{i}}">{{fy.Name}}</option>                        
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>