<accountdashboard-app></accountdashboard-app>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        Receipt
    </div>
    <div class='panel-body'>
        <div class='table-responsive' style="min-height: 400px;">
            <div style="padding-bottom:10px">
                <div class="row">
                    <div class="col-md-3">
                        <div (click)="addReceipt()" style="cursor: pointer">
                            <span>
                                <img src="../../images/Add.png" height="60" width="60" />
                            </span>
                            Add Receipt
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row" style="padding-top: 17px;">
                            <div class="col-md-2">
                                Filter By Date:
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2]).(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2]).(?:32))|(?:(?:0[13578]|1[02])-32))" value="" [(ngModel)]="sfromDate" placeholder="yyyy.mm.dd">
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2]).(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2]).(?:32))|(?:(?:0[13578]|1[02])-32))" placeholder="yyyy.mm.dd" [(ngModel)]="stoDate" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-success" (click)="loadReceiptList(sfromDate, stoDate)">GO</button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary pull-left" (click)="exportTableToExcel('purchaseTable')">Export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading">
                <img src="../../images/loading.gif" width="32" height="32" /> Loading...
            </div>
            <div *ngIf='receiptList && receiptList.length==0' class="alert alert-info" role="alert">No record found!</div>
            <!-- Voucher list table starts -->
            <table id="purchaseTable" class='table' *ngIf='receiptList && receiptList.length' style="border: 2px solid #ddd;">
                <thead>
                    <tr>
                        <th colspan="8" class="text-center">
                            <strong>{{ company?.NameEnglish }}</strong>
                            <br /> Receipt Voucher
                            <br /> {{ sfromDate }} - {{ stoDate }}
                        </th>
                    </tr>
                    <tr style="background: #bcd1e2;">
                        <th>Date</th>
                        <th>Particular</th>
                        <th>Voucher Type</th>
                        <th>Voucher No.</th>
                        <th>Debit (Rs.)</th>
                        <th>Credit (Rs.)</th>
                        <th class="export-no-display">File</th>
                        <th class="export-no-display">Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let row of receiptList">
                    <tr style="background:#eceaea">
                        <td>{{ row.VDate | date: 'yyyy.MM.dd' }}</td>
                        <td>{{ row.Name }}</td>
                        <td>{{ row.VType }}</td>
                        <td>{{ row.VoucherNo }}</td>
                        <td colspan="2">&nbsp;</td>
                        <td class="export-no-display">
                            <img *ngIf="row.File" (click)="viewFile(row.File,imageView)" [src]="row.File" alt="Document" style="height:30px; border-radius:5px;" />
                            <span *ngIf="row.File == ''">Not Added</span>
                        </td>
                        <td class="export-no-display">
                            <img src="../../images/Edit.png" (click)="editReceipt(row.Id)" title="Edit Voucher" height="32" width="32" />
                            <img src="../../images/Delete.png" (click)="deleteReceipt(row.Id)" title="Delete Voucher" height="32" width="32" />
                        </td>
                    </tr>
                    <tr *ngFor="let transaction of row.AccountTransactionValues">
                        <td>&nbsp;</td>
                        <td colspan="3">{{ transaction.Name }}</td>
                        <td> {{ transaction.DebitAmount !== 0 ? transaction.DebitAmount.toFixed(2) : '' }}</td>
                        <td>{{ transaction.CreditAmount !== 0 ? transaction.CreditAmount.toFixed(2) : '' }}</td>
                        <td class="export-no-display" colspan="2">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <!-- Voucher list table ends -->
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<ng-template #template>
    <form novalidate (ngSubmit)="onSubmit(receiptFrm, fileUpload)" [formGroup]="receiptFrm" class="panel-primary">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <input type="text" class="hidden" placeholder="Voucher No" formControlName="AccountTransactionDocumentId" />
                <label class="control-label col-md-2 text-right">
                    <strong>Voucher Type:</strong>
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="Name" readonly="true">
                </div>
                <label class="control-label col-md-2 text-right">
                    <strong>Voucher Date:</strong>
                </label>
                <div class="col-md-4">
                    <input class="form-control" type="text" placeholder="yyyy.mm.dd" formControlName="Date" />
                    <div class="text-danger" *ngIf="(receiptFrm.get('Date').hasError('InvalidDate') || receiptFrm.get('Date').hasError('required')) && formSubmitAttempt">
                        {{ receiptFrm.get('Date').getError('InvalidDate') }}
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <label class="control-label col-md-2">
                    <strong>Account:</strong>
                </label>
                <div class="form-group col-md-4">
                    <ngx-select-dropdown (searchChange)="searchChange($event)" formControlName="SourceAccountTypeId" [config]="config" [options]="accountcashbank"></ngx-select-dropdown>
                    <div class="alert alert-danger" *ngIf="receiptFrm.get('SourceAccountTypeId').hasError('required') && formSubmitAttempt">
                        Account is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div formArrayName="AccountTransactionValues" class="panel panel-default">
                        <div class="col-md-4">
                            <label>
                                <strong>Account</strong>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <strong>Credit</strong>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <strong>Description</strong>
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label>&nbsp;</label>
                        </div>
                        <div *ngFor="let AccountTransactionValue of receiptFrm.controls.AccountTransactionValues.controls; let i=index" [formGroupName]="i">
                            <div>
                                <div class="hidden">
                                    <input type="number" class="form-control" placeholder="Debit" formControlName="Debit" readonly="true" />
                                </div>
                                <div class="form-group col-md-4">
                                    <ngx-select-dropdown (searchChange)="searchChangeAccountId($event)" formControlName="AccountId" [config]="configAccount" [options]="account"></ngx-select-dropdown>
                                    <div *ngIf="!receiptFrm.controls.AccountTransactionValues.controls[i].controls.AccountId.valid && formSubmitAttempt" class="text-danger">
                                        Account name is required
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="number" class="form-control" placeholder="Credit" formControlName="Credit">
                                    <div *ngIf="!receiptFrm.controls.AccountTransactionValues.controls[i].controls.AccountId.valid && formSubmitAttempt" class="text-danger">
                                        Credit is required
                                    </div>
                                </div>
                                <div class="form-group col-md-4" style="padding-left: 0;">
                                    <textarea class="form-control" name="Description" rows="2" formControlName="Description" placeholder="Receipt transaction description here..."></textarea>
                                    <div class="help-block alert alert-danger" *ngIf="!receiptFrm.controls.AccountTransactionValues.controls[i].controls.Description.valid && formSubmitAttempt">
                                        Transaction description is required.
                                    </div>
                                </div>
                                <div class="form-group col-md-1 text-center">
                                    <span *ngIf="receiptFrm.controls.AccountTransactionValues.controls.length > 1" style="font-size: 30px" class="fa fa-window-close pull-right" (click)="removeAccount(i)"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right" style="padding: 12px 26px;">
                                <button type="button" class="btn btn-success" [disabled]="receiptFrm.controls.AccountTransactionValues.invalid" (click)="addAccountValues()">Add Row +</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-7">
                    <textarea name="Description" rows="4" class="form-control" formControlName="Description" rows="4" cols="50"></textarea>
                    <div class="alert alert-danger" *ngIf="receiptFrm.get('Description').hasError('required') && formSubmitAttempt">
                        Description is required
                    </div>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-10 custom-padding">
                        <input type="number" class="form-control" placeholder="Total" value="{{sumCredit()}}" readonly="true" />
                    </div>
                    <div class="col-md-10 custom-padding">
                        <app-file-upload #fileUpload [extraFormData]="receiptFrm" [uploadUrl]="uploadUrl" [dropMessage]="dropMessage"></app-file-upload>
                    </div>
                </div>
                <div class="hidden">
                    <input type="number" class="form-control" placeholder="Total" value="{{sumDebit()}}" readonly="true" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-success pull-left" [disabled]="receiptFrm.invalid">{{modalBtnTitle}} </button>
                <button type="button" class="btn btn-danger pull-right" (click)="reset(); modalRef.hide();">Cancel</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #imageView>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalTitle}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <img style="width:100%" [src]="fileUrl" />
            </div>
        </div>
    </div>
</ng-template>

<ng-template #templateNested>
    <div class="modal-body text-center">
        <p>Data saved sucessfully!</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
    </div>
</ng-template>